.coverage
.coverage.*
*.egg-info
*.log
*.mo
*.py?
*.swp
.*project
# dirs
/.settings/
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
dist/*
test.plone_addon/
var/
# files
.installed.cfg
.mr.developer.cfg
coverage.xml
lib64
local.cfg
log.html
output.xml
pip-selfcheck.json
pyvenv.cfg
report.html
.vscode/
.tox/
reports/
venv/
# excludes
*.log
*.mo
*.orig
*.pyc
*.swo
*.swp
*.tags*
*.wpr
*.wpu
*project
*workspace
*~
.DS_Store*
.idea/*
.installed.cfg
.settings
*.egg-info
bin
include
lib
local
Thumbs.db
*ide-plugin.xml
/tags
.mr.developer.cfg
bin

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# virtualenv
.venv
venv/
ENV/

# node
node_modules
package-lock.json
*.lock

# senaite sources
src/senaite.*