include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include static *
recursive-include src/senaite/manufacture *
recursive-exclude src/senaite/manufacture *.pyc
recursive-exclude src/senaite/manufacture/locales/.tx *